<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover table-striped text-nowrap">
  <thead>
    <tr>
      <th>act_name</th>
      <th>act_gp_date</th>
      <th>updated_at</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @act.act_name %></td>
      <td><%= @act.act_gp_date %></td>
      <td><%= @act.updated_at %></td>
    </tr>
  </tbody>
</table>
